body{
  background-color: #000000;
}

h1{
  background-color: #de7412;
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #930d41;
  text-align: center;
}

h2{
  background-color: #de7412;
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #930d41;
  text-align: center;
}

img{
  display: block;
  margin: auto;
  height: 60%;
  width: 75%;
}

.pianoman{
  text-align: left;
  height: 45%;
  width: 60%;
}

.manpiano{
  display: inline-block;
  border-radius: 35%;
}

.barsign{
  text-align: center;
  height: 300px;
}

.bar-sign{
  display: block;
  border-radius: 55%;
  margin: 0 auto;
}

.billiards{
  text-align: right;
}

.ball8{
  display: inline-block;
  border-radius: 35%;
}

.mealie{
  height: 500px;
  width: 500px;
  border-radius: 55%;
}

h3{
  background-color: #de7412;
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #ffffff;
  text-align: center;
}

h4{
  background-color: #de7412;
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #ffffff;
  text-align: right;
}

.banner{
  background-image: url(../img/bluewaves.jpg);
  background-size: auto;
  transition: all 1s ease-in-out;
  max-height: 20%;
  color: #e25d60;
}

.banner:hover{
  background-image: url(../img/yellowwaves.jpg);
  transition: all 1s ease-in-out;
  max-height: 20%;
  color: #e25d60;
}

p{
  background-color: #2b0500;
  color: #1decdf;
}

#feedback {
  display: none;
}

.form-group{
  color: white;
}
